<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Tutorial 05</title>
	<script src="../js/game-engine-1.2.1.js"></script>
	<script>
		window.onload = start;
		var backScene;
		var game;
		function start() {
			game = new GEngine({
				world:{
					canvasSize: { x: 400, y: 300 },
					fullWindow: true
				},
				canvasId: 'theEngine',
				fps: 60
			});
			var scene = new Scene();

			var box = new EntityRect({
				color: '#ff0000',
				translate: {
					position: {x: 300, y: 150}
				},
				drawPivotPt: true
			});
			box.pivot.x = 0;
			box.update = function (dt) {
				var newRot = (this.translate().rotation() + 0.5) % 360;
				this.translate().rotation(newRot);
			};
			scene.add(box);

			// Add current scene to game engine
			game.addScene(scene);

			scene = new Scene();
			box = new EntityRect({
				color: '#0000ff',
				translate: {
					position: { x: 300, y: 150 }
				},
				drawPivotPt: true
			});
			box.update = function (dt) {
				var newRot = (this.translate().rotation() + 0.5) % 360;
				this.translate().rotation(newRot);
			};
			scene.add(box);
			backScene = scene;

			game.run();
		}

		function swapScene() {
			var scene = backScene;
			backScene = game.popScene();
			game.addScene(scene);
		}
		window.onclick = function(e){
			e.preventDefault();
			swapScene();
		};
	</script>
	<style>
		body {
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<canvas id="theEngine"></canvas>
</body>
</html>