<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Tutorial 05</title>
	<script src="../js/game-engine-1.3.2.js"></script>
	<script>
		window.onload = start;
		var game;
		function start() {
			game = new GEngine({
				world:{
					canvasSize: { x: 400, y: 300 },
					fullWindow: true
				},
				clearColor: '#d2d2d2',
				canvasId: 'theEngine',
				fps: 60
			});
			var scene = new Scene();

			var box = new EntityRect({
				color: '#ff0000',
				translate: {
					position: {x: 300, y: 150}
				},
				drawPivotPt: true
			});
			box.pivot.x = 0;
			box.update = function (dt) {
				var newRot = (this.translate().rotation() + 1) % 360;
				this.translate().rotation(newRot);
			};
			scene.add(box);
			box = new EntityRect({
				color: '#202020',
				translate: {
					position: { x: 0, y: 500 }
				},
				rect: { x: 0, y: 0, w: game.world.canvasSize.x, h: game.world.canvasSize.y - 500 }
			});
			box.pivot.x = 0;
			box.pivot.y = 0;
			scene.add(box);

			// Add current scene to game engine
			game.addScene(scene);
			game.run();

			function handleClick(evt) {
				var pos = { x: evt.clientX, y: evt.clientY };
				var cir = new EntityCircle({
					translate: {
						position: pos
					},
					radius: 5,
					age: 480,
					tage: 0,
					gravity: 0.1,
					color: '#0000dd'
				});// End circle entity definition
				cir.speed().y = (Math.random() * 5.0) - 4;
				cir.speed().x = (Math.random() * 6.0) - 3;
				cir.oldUpdate = cir.update;
				cir.update = function (dt) {
					if (this.tage++ > this.age) {
						var g = this.gengine();
						console.log('Goodbye! ' + this.id);
						g.rm(this.id);
						this.tage = -9999;
					}
					cir.speed().y += this.gravity;
					cir.oldUpdate(dt);
					this.radius = Math.max(0, 15 * (1.0 - (this.tage / this.age)));
					this.alpha = Math.max(0.1, 1.0 - (this.tage / this.age));
					var pos = this.translate().position();
					if (pos.y + (this.radius / 2) > 500 && this.speed().y > 0) {
						this.speed().y *= -0.8;
						this.translate().position().y = 500 - (this.radius / 2);
					}
					if (pos.x < (this.radius / 2) || pos.x > game.world.canvasSize.x) {
						this.speed().x *= -1;
					}
				};
				game.add(cir);
			}
			game.events().on('click', handleClick);
			game.events().on('keypress', function (e) {
				if (e.which == 32) {
					e.clientX = game.world.canvasSize.x / 2;
					e.clientY = 100;
					handleClick(e);
					return false;
				}
			});
		}
	</script>
	<style>
		body {
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<canvas id="theEngine"></canvas>
</body>
</html>