<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Canvas Game Engine - Tutorial 08</title>
	<script src="../js/game-engine-1.3.2.js"></script>
	<script>
		window.onload = startup;
		function startup(e) {
			game = new GEngine({
				world: {
					canvasSize: { x: 400, y: 200 },
					fullWindow: true
				},
				clearColor: "#f0f0f0",
				fps: 60
			});

			var scene = game.getScene();
			var worldSize = game.world.canvasSize;
			

			var box = new EntityRect({
				color: '#000000',
				translate: {
					position: { x: worldSize.x / 2, y: worldSize.y / 2 }
				},
				rect: {
					x: 0, y: 0, w: 50, h: 30
				},
				drawPivotPt: true
			});
			box.update = function (dt) {
				var newRot = (this.translate().rotation() + 1) % 360;
				this.translate().rotation(newRot);
			};
			box.pivot.x = 10;
			scene.add(box);

			console.log(game.getInput());

			game.run();
		}
	</script>
</head>

<body>

</body>
</html>
